* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  color: #555;
  /* background-color: #2d1706; */
  font-family: "Rubik", sans-serif;
  /* font-family: sans-serif; */
  line-height: 1;
  overflow-x: hidden;
}

/* *:focus {
  outline: none; */
/* outline: 4px dotted #e67e22; */
/* outline-offset: 8px; */
/* box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
} */
/**************************************/
/*****Genral Reuseable styles *******/

/**************************************/
/*********Header Styles ********/
/* Default navbar styles */

.header {
  position: relative;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.3rem;
  background: linear-gradient(
    90deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(249, 227, 210, 1) 19%,
    rgba(232, 232, 232, 1) 81%
  );
  transition: background-color 0.3s ease;
}

/* Sticky navbar styles */
.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  /* Change to white */
  background: #fff !important;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.logo-img {
  height: 2.2rem;
  /* width: 19.8rem; */
}
/* .nav {
  font-size: 3rem;
  font-weight: 600;
} */

.main-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: all 0.6s;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
}

.nav-link:hover,
.nav-link:active {
  color: #e67e22;
  /* border-bottom: 2px solid #e67e22;
  padding-bottom: 0.5rem; */
  border-color: #e67e22;
}
.nav-link.nav-cata:link,
.nav-link.nav-cata:visited {
  /* padding: 1.6rem 3.2rem; */
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
  background-color: #e67e22;
  color: #fff;
  border-bottom: none;
}
.nav-link.nav-cata:hover,
.nav-link.nav-cata:active {
  background-color: #cb681c;
  border: none;
  padding: none;
}
.mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-icon {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.mobile-icon[name="close-outline"] {
  display: none;
}
/**************************************/
/*********Hero Styles ********/

.section-hero {
  /* background-color: #f9e3d2; */
  /* height: 100vh; */
  background: linear-gradient(
    90deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(249, 227, 210, 1) 19%,
    rgba(232, 232, 232, 1) 81%
  );
  padding: 4.1rem 0 3.8rem 0;
  padding: 4.8rem 0 9.4rem 0;
}

.hero-container {
  max-width: 130rem;
  padding: 0 3.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}
/* .btn:link span {
  font-size: 3rem;
  font-weight: 400;
  
} */
.hero-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  /* align-self: flex-end; */
  width: 98%;
  /* width: 80%; */
  /* height: 80%; */

  /* border-radius: 50%; */
}
.deliverd-meals {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-start;
  /* gap: 1.6rem; */
  gap: 1rem;
  /* margin-top: 8rem; */
  margin-top: 5.5rem;
}
.diliverd-images {
  display: flex;
  /* gap: -1.6rem;    invalid property vlaue gap ma neagative value nahi di ja sakti ha 
  */
}

.diliverd-images img {
  /* display: flex; */

  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 0.3rem solid #f9e3d2;
}

.diliverd-images img:last-child {
  margin-right: 0;
}

.diliverd-text {
  font-size: 1.8rem;
  font-weight: 600;

  line-height: 1.2;
}
.diliverd-text span {
  color: #e67e22;
}
/**************************************/
/*********Features-section ********/

.section-features {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-feature-in {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.75pz;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Space between logos */
}
.logos img {
  height: 8rem;
  filter: grayscale(100%); /* Optional: Grayscale effect */
  opacity: 100%;
}
/**************************************/
/*********How-section ********/

.how-section {
  /* padding: 9.6rem 6rem; */
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: #ccc;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.5;
  /* font-weight: 500; */
  margin-bottom: 3.2rem;
  color: #555;
}
.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
}
.step-img {
  width: 40%;
}
/**************************************/
/*********Meal--Section ********/

.section-meals {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.075);
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.1s;
}
.meal:hover {
  transform: translateY(-1.2rem);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tag {
  /* padding: 1.2rem; */
  margin-bottom: 1.2rem;
  font-weight: 600;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}
.tag--vegetarian {
  background-color: rgb(107, 240, 107);
}
.tag--vegon {
  background-color: rgb(122, 230, 72);
}
.tag--paleo {
  background-color: rgb(229, 241, 47);
}
.meals-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  /* line-height: 1.2; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.meal-icon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
}
.meal-img {
  /* height: 25.3rem; */
  width: 100%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.9rem;
  display: flex;
  line-height: 1.2;
  /* justify-content: center; */
  gap: 1.6rem;
  align-items: center;
}
.list-icon {
  height: 3rem;
  width: 3rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.8rem;
  /* border: 2px solid red; */
  text-align: center;
}

.text-allign-center {
  text-align: center;
}

/**************************************/
/*********Testimonials--Section ********/

.section-testimonial {
  /* background-color: #f9e3d2; */
  background: linear-gradient(
    90deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(249, 227, 210, 1) 19%,
    rgba(232, 232, 232, 1) 81%
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.testimonila-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  row-gap: 4rem;
  column-gap: 6.6rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 147px 86px 200px 116px;
  -webkit-border-radius: 147px 86px 200px 116px;
  -moz-border-radius: 147px 86px 200px 116px;
  margin-bottom: 1rem;
}

.gallary {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallary-itm {
  overflow: hidden;
}

.gallary-itm img {
  display: block;
  width: 100%;
  transition: transform 0.4s ease, filter 0.4s ease; /* Smooth zoom & blur effects */
  filter: none; /* Default state: no blur */
}

/* When hovering on a specific image, it zooms */
.gallary-itm:hover img {
  transform: scale(1.1); /* Zoom effect on hovered image */
  filter: none; /* Remove blur on hovered image */
}

/* Blur all non-hovered images */
.gallary:hover .gallary-itm:not(:hover) img {
  filter: blur(2px); /* Blur non-hovered images */
}

/**************************************/
/*********Pricing--Section ********/
.section-pricing {
  padding: 9.6rem 0;
  /* background-color: #e88f4c; */
}
.pricing--justify-item {
  justify-items: end;
}
.pricing-plan {
  width: 72%;
}

.pricing--plan-starter {
  justify-self: end;
  border: 2px solid #fcf3eb;
  /* background-color: #fcf3eb; */
  padding: 3.8rem;
  border-radius: 11px;
}
.pricing--plan-complete {
  border-radius: 11px;
  background-color: #fcf3eb;
  padding: 4rem;
  position: relative;
  overflow: hidden;
}
.pricing--plan-complete:after {
  content: "Best value";
  background-color: #ffcd35;
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  transform: rotate(45deg);
  position: absolute;
  top: 4.7%;
  right: -24%;
  padding: 0.5rem 9rem;
  /* border: dashed #000; */
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  font-size: 1.8rem;
  font-weight: 600;
  color: #cb681c;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: #333;
}
.plan-price span {
  font-size: 3.01rem;
  font-weight: 500;
  margin-right: 0.5rem;
  /* color: #cb681c; */
}
.plan-text {
  font-size: 1.6rem;
  color: #6f6f6f;
  line-height: 1.6;
  /* margin-top: 1.6rem; */
}

.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}
.pricing-detail {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  /* color: #333; */
}
.feature {
}

.feature-icon {
  width: 3rem;
  height: 3rem;
  color: #cb681c;
  margin-bottom: 3.2rem;
  background: #f9e3d2;
  padding: 1.2rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************************************/
/*********Cta-section ********/

.section-cta {
  /* padding: 9.6rem 0 12.8rem 0; */
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
  /* height: 50rem; */
}
.cta .secondary-heading {
  color: inherit;
  /* color: #2d1706; */
  margin-bottom: 3.2rem;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #2d1706;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("asserts-of-food/customoor%20images/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: grid;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}

/**************************************/
/*********Footer ********/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  background-color: #ccc;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  /* margin-bottom: 3.2rem; */
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  margin-top: 3.2rem;
  /* margin-bottom: 2.4rem; */
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.5rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #555;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  color: #767676;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
